In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv(r'data\Tasas_de_Inter_s_Activas_-_Informe_Semanal_20240527.csv')

In [3]:
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732673 entries, 0 to 732672
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   TIPO ENTIDAD                732673 non-null  int64
 1   CODIGO ENTIDAD              732673 non-null  int64
 2   NOMBRE ENTIDAD              732673 non-null  object
 3   FECHA CORTE                 732673 non-null  object
 4   UNIDAD DE CAPTURA           732673 non-null  int64
 5   NOMBRE                      732673 non-null  object
 6   TIPO                        732671 non-null  object
 7   SUBCUENTA                   732673 non-null  int64
 8   NOMBRE SUBCUENTA            732673 non-null  object
 9   TASA EFECTIVA ANUAL         732673 non-null  float64
 10  MONTOS                      732673 non-null  float64
 11  NUM_CREDITOS_DESEMBOLSADOS  732673 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 67.1+ MB

,TIPO ENTIDAD,CODIGO ENTIDAD,UNIDAD DE CAPTURA,SUBCUENTA,TASA EFECTIVA ANUAL,MONTOS,NUM_CREDITOS_DESEMBOLSADOS
count,732673.000000,732673.000000,732673.000000,732673.000000,732673.000000,7.326730e+05,7.326730e+05
mean,3.985849,29.366348,10.926644,40.349330,19.190927,4.962436e+07,4.486399e+03
std,8.225833,26.699382,1.644247,31.452406,9.353307,5.236240e+08,3.082804e+04
min,1.000000,1.000000,8.000000,5.000000,0.000000,0.000000e+00,0.000000e+00
25%,1.000000,7.000000,9.000000,17.000000,12.200000,1.290220e+05,0.000000e+00
50%,1.000000,23.000000,11.000000,30.000000,19.740000,8.600000e+05,2.000000e+00
75%,4.000000,44.000000,12.000000,60.000000,27.140000,5.435000e+06,1.270000e+02
max,32.000000,122.000000,99.000000,999.000000,57.010000,2.464171e+10,1.526642e+06

In [4]:
data.head(5)

,TIPO ENTIDAD,CODIGO ENTIDAD,NOMBRE ENTIDAD,FECHA CORTE,UNIDAD DE CAPTURA,NOMBRE,TIPO,SUBCUENTA,NOMBRE SUBCUENTA,TASA EFECTIVA ANUAL,MONTOS,NUM_CREDITOS_DESEMBOLSADOS
0,32,1,Cooperativa Financiera De Antioquia,01/02/2019,11,CREDITOS COMERCIALES,ORDINARIO,5,ENTRE 1 Y 30 DIAS,28.34,593975.00,47
1,1,7,Bancolombia,26/09/2014,11,CREDITOS COMERCIALES,ORDINARIO,40,A MAS DE 1825 DIAS,11.58,13679369.34,33
2,1,23,Banco De Occidente,04/05/2007,9,CREDITOS DE CONSUMO,CREDITOS DE CONSUMO,20,ENTRE 366 Y 1095 DIAS,20.40,3701160.00,0
3,1,13,Bbva Colombia,03/05/2013,11,CREDITOS COMERCIALES,ORDINARIO,20,ENTRE 366 Y 1095 DIAS,15.23,3850863.00,50
4,1,34,Bansuperior,03/05/2002,12,OTRAS MODALIDADES DE CREDITO,TARJETAS DE CREDITO PERSONAS NATURALES,40,CONS ENT 13 Y 18 M,30.50,243807.00,0

In [8]:
data['FECHA CORTE'].sort_values()

206081    01/01/2010
369456    01/01/2010
520485    01/01/2010
307462    01/01/2010
92660     01/01/2010
             ...
366408    31/12/2021
696708    31/12/2021
673843    31/12/2021
176427    31/12/2021
327353    31/12/2021
Name: FECHA CORTE, Length: 732673, dtype: object

In [13]:
data.tail(50)

,TIPO ENTIDAD,CODIGO ENTIDAD,NOMBRE ENTIDAD,FECHA CORTE,UNIDAD DE CAPTURA,NOMBRE,TIPO,SUBCUENTA,NOMBRE SUBCUENTA,TASA EFECTIVA ANUAL,MONTOS,NUM_CREDITOS_DESEMBOLSADOS
732623,1,42,Banco Colpatria Scotiabank,24/06/2022,8,CREDITOS DE VIVIENDA,CREDITOS DE VIVIENDA CONSTRUCCION,10,CONSTRUCCION VIVIENDA VIS (UVR),5.33,2.771000e+06,2
732624,1,42,Banco Colpatria Scotiabank,24/06/2022,12,OTRAS MODALIDADES DE CREDITO,TARJETAS DE CREDITO PERSONAS NATURALES,20,CONSUMO ENT 2 Y 6 M,30.55,6.842571e+07,206634
732625,1,1,Banco De Bogota S.A.,24/06/2022,8,CREDITOS DE VIVIENDA,CREDITOS DE VIVIENDA ADQUISICIÃ“N,12,ADQ VIVIENDA DIFERENTE VIS (PESOS),9.67,2.698554e+07,115
732626,1,1,Banco De Bogota S.A.,24/06/2022,11,CREDITOS COMERCIALES,ORDINARIO,30,ENTRE 1096 Y 1825 DIAS,12.31,4.143521e+08,282
732627,1,1,Banco De Bogota S.A.,24/06/2022,8,CREDITOS DE VIVIENDA,CREDITOS DE VIVIENDA ADQUISICIÃ“N,17,ADQ VIVIENDA VIS (PESOS),11.91,2.235266e+07,395
732628,1,1,Banco De Bogota S.A.,24/06/2022,11,CREDITOS COMERCIALES,PREFERENCIAL O CORPORATIVO,60,ENTRE 366 Y 1095 DIAS,8.92,1.500028e+07,20
732629,1,1,Banco De Bogota S.A.,24/06/2022,11,CREDITOS COMERCIALES,ORDINARIO,20,ENTRE 366 Y 1095 DIAS,11.92,6.429038e+07,618
732630,1,1,Banco De Bogota S.A.,24/06/2022,10,MICROCREDITOS,DIFERENTE DE LEASING,60,ENTRE 366 Y 1095 DIAS,36.68,2.055556e+06,220
732631,1,1,Banco De Bogota S.A.,24/06/2022,16,CREDITOS A TRAVES DE LIBRANZA,CREDITOS A TRAVES DE LIBRANZA,20,OTROS,13.07,6.770940e+07,1815
732632,1,1,Banco De Bogota S.A.,24/06/2022,12,OTRAS MODALIDADES DE CREDITO,TARJETAS DE CREDITO PERSONAS NATURALES,30,CONS ENT 7 Y 12 M,25.12,1.579285e+07,25310
732633,1,42,Banco Colpatria Scotiabank,24/06/2022,12,OTRAS MODALIDADES DE CREDITO,TARJETAS DE CREDITO PERSONAS NATURALES,30,CONS ENT 7 Y 12 M,30.41,2.928670e+07,56696
732634,1,42,Banco Colpatria Scotiabank,24/06/2022,11,CREDITOS COMERCIALES,PREFERENCIAL O CORPORATIVO,60,ENTRE 366 Y 1095 DIAS,12.78,4.600000e+06,1
732635,1,1,Banco De Bogota S.A.,24/06/2022,12,OTRAS MODALIDADES DE CREDITO,TARJETAS DE CREDITO PERSONAS NATURALES,50,CONSUMO MAS 18 M,25.23,4.721596e+07,125506
732636,1,1,Banco De Bogota S.A.,24/06/2022,12,OTRAS MODALIDADES DE CREDITO,TARJETAS DE CREDITO PERSONAS NATURALES,5,AVANCES EFECT,28.50,2.227734e+07,41299
732637,1,42,Banco Colpatria Scotiabank,24/06/2022,12,OTRAS MODALIDADES DE CREDITO,TARJETAS DE CREDITO PERSONAS NATURALES,40,CONS ENT 13 Y 18 M,30.16,3.081740e+06,2904
732638,1,1,Banco De Bogota S.A.,24/06/2022,11,CREDITOS COMERCIALES,ORDINARIO,5,ENTRE 1 Y 30 DIAS,12.97,5.301180e+06,206
732639,1,51,Bancien S.A. Y/O Ban100,24/06/2022,10,MICROCREDITOS,DIFERENTE DE LEASING,50,ENTRE 31 Y 365 DIAS,47.14,2.843220e+05,90
732640,1,1,Banco De Bogota S.A.,24/06/2022,12,OTRAS MODALIDADES DE CREDITO,TARJETAS DE CREDITO EMPRESARIALES,100,CONSUMOS ENTRE 13 Y 18 M,17.17,3.804400e+04,19
732641,1,42,Banco Colpatria Scotiabank,24/06/2022,9,CREDITOS DE CONSUMO,CREDITOS DE CONSUMO,40,A MAS DE 1825 DIAS,23.28,3.110982e+07,826
732642,1,42,Banco Colpatria Scotiabank,24/06/2022,12,OTRAS MODALIDADES DE CREDITO,TARJETAS DE CREDITO EMPRESARIALES,90,CONSUMOS ENTRE 7 Y 12 M,30.58,3.437500e+04,19
732643,1,42,Banco Colpatria Scotiabank,24/06/2022,9,CREDITOS DE CONSUMO,CREDITOS DE CONSUMO,30,ENTRE 1096 Y 1825,23.30,2.247527e+07,8535
732644,1,1,Banco De Bogota S.A.,24/06/2022,12,OTRAS MODALIDADES DE CREDITO,TARJETAS DE CREDITO EMPRESARIALES,80,CONSUMOS ENTRE 2 Y 6 M,28.92,1.984187e+06,2198
732645,1,1,Banco De Bogota S.A.,24/06/2022,12,OTRAS MODALIDADES DE CREDITO,TARJETAS DE CREDITO PERSONAS NATURALES,20,CONSUMO ENT 2 Y 6 M,29.02,3.342263e+07,109190
732646,1,1,Banco De Bogota S.A.,24/06/2022,12,OTRAS MODALIDADES DE CREDITO,TARJETAS DE CREDITO PERSONAS NATURALES,10,CONSUMO 1 MES,0.00,5.255520e+07,369701
732647,1,42,Banco Colpatria Scotiabank,24/06/2022,12,OTRAS MODALIDADES DE CREDITO,TARJETAS DE CREDITO PERSONAS NATURALES,10,CONSUMO 1 MES,0.00,1.545566e+08,876540
732648,1,1,Banco De Bogota S.A.,24/06/2022,12,OTRAS MODALIDADES DE CREDITO,TARJETAS DE CREDITO PERSONAS NATURALES,40,CONS ENT 13 Y 18 M,21.18,2.394208e+06,2240
732649,1,42,Banco Colpatria Scotiabank,24/06/2022,11,CREDITOS COMERCIALES,ORDINARIO,20,ENTRE 366 Y 1095 DIAS,15.04,3.424137e+06,12
732650,1,42,Banco Colpatria Scotiabank,24/06/2022,12,OTRAS MODALIDADES DE CREDITO,TARJETAS DE CREDITO EMPRESARIALES,80,CONSUMOS ENTRE 2 Y 6 M,30.58,2.220400e+05,196
732651,1,51,Bancien S.A. Y/O Ban100,24/06/2022,16,CREDITOS A TRAVES DE LIBRANZA,CREDITOS A TRAVES DE LIBRANZA,20,OTROS,24.55,1.763384e+07,2026
732652,1,42,Banco Colpatria Scotiabank,24/06/2022,9,CREDITOS DE CONSUMO,CREDITOS DE CONSUMO,10,ENTRE 31 Y 365 DIAS,18.71,1.963661e+06,315
732653,1,42,Banco Colpatria Scotiabank,24/06/2022,11,CREDITOS COMERCIALES,ORDINARIO,5,ENTRE 1 Y 30 DIAS,12.96,2.500000e+05,1
732654,1,1,Banco De Bogota S.A.,24/06/2022,12,OTRAS MODALIDADES DE CREDITO,TARJETAS DE CREDITO EMPRESARIALES,90,CONSUMOS ENTRE 7 Y 12 M,30.16,3.675850e+05,333
732655,1,42,Banco Colpatria Scotiabank,24/06/2022,12,OTRAS MODALIDADES DE CREDITO,TARJETAS DE CREDITO EMPRESARIALES,60,AVANCES EFECTIVO,29.28,6.933000e+03,17
732656,1,51,Bancien S.A. Y/O Ban100,24/06/2022,9,CREDITOS DE CONSUMO,CREDITOS DE CONSUMO,20,ENTRE 366 Y 1095 DIAS,30.04,2.977750e+06,772
732657,1,42,Banco Colpatria Scotiabank,24/06/2022,8,CREDITOS DE VIVIENDA,CREDITOS DE VIVIENDA ADQUISICIÃ“N,17,ADQ VIVIENDA VIS (PESOS),11.67,2.195712e+06,33
732658,1,1,Banco De Bogota S.A.,24/06/2022,12,OTRAS MODALIDADES DE CREDITO,TARJETAS DE CREDITO EMPRESARIALES,60,AVANCES EFECTIVO,30.23,8.717110e+05,908
732659,1,42,Banco Colpatria Scotiabank,24/06/2022,12,OTRAS MODALIDADES DE CREDITO,TARJETAS DE CREDITO PERSONAS NATURALES,5,AVANCES EFECT,28.68,2.185323e+07,22514
732660,1,1,Banco De Bogota S.A.,24/06/2022,11,CREDITOS COMERCIALES,ORDINARIO,40,A MAS DE 1825 DIAS,13.00,6.029379e+07,209
732661,1,42,Banco Colpatria Scotiabank,24/06/2022,16,CREDITOS A TRAVES DE LIBRANZA,CREDITOS A TRAVES DE LIBRANZA,20,OTROS,22.47,2.849000e+05,11
732662,1,1,Banco De Bogota S.A.,24/06/2022,9,CREDITOS DE CONSUMO,CREDITOS DE CONSUMO,10,ENTRE 31 Y 365 DIAS,12.00,5.000000e+02,1
732663,1,1,Banco De Bogota S.A.,24/06/2022,9,CREDITOS DE CONSUMO,CREDITOS DE CONSUMO,40,A MAS DE 1825 DIAS,16.78,1.261962e+08,4963
732664,1,1,Banco De Bogota S.A.,24/06/2022,10,MICROCREDITOS,DIFERENTE DE LEASING,70,ENTRE 1096 Y 1825 DIAS,33.36,1.335808e+06,61
732665,1,42,Banco Colpatria Scotiabank,24/06/2022,11,CREDITOS COMERCIALES,PREFERENCIAL O CORPORATIVO,50,ENTRE 31 Y 365 DIAS,11.60,5.707122e+06,4
732666,1,42,Banco Colpatria Scotiabank,24/06/2022,8,CREDITOS DE VIVIENDA,CREDITOS DE VIVIENDA ADQUISICIÃ“N,20,ADQ VIVIENDA VIS (UVR),8.13,1.537060e+05,3
732667,1,1,Banco De Bogota S.A.,24/06/2022,12,OTRAS MODALIDADES DE CREDITO,DESCUBIERTOS EN CUENTA CORRIENTE BANCARIA,120,SOBREGIROS,23.13,7.493004e+07,18045
732668,1,42,Banco Colpatria Scotiabank,24/06/2022,12,OTRAS MODALIDADES DE CREDITO,TARJETAS DE CREDITO EMPRESARIALES,110,CONSUMOS MAS 18 MESES,30.58,4.070690e+05,862
732669,1,1,Banco De Bogota S.A.,24/06/2022,11,CREDITOS COMERCIALES,PREFERENCIAL O CORPORATIVO,50,ENTRE 31 Y 365 DIAS,10.13,1.018914e+08,64
732670,1,42,Banco Colpatria Scotiabank,24/06/2022,12,OTRAS MODALIDADES DE CREDITO,DESCUBIERTOS EN CUENTA CORRIENTE BANCARIA,120,SOBREGIROS,30.60,8.167421e+07,8460
732671,1,1,Banco De Bogota S.A.,24/06/2022,12,OTRAS MODALIDADES DE CREDITO,TARJETAS DE CREDITO EMPRESARIALES,110,CONSUMOS MAS 18 MESES,30.25,5.988373e+06,9333
732672,1,51,Bancien S.A. Y/O Ban100,24/06/2022,10,MICROCREDITOS,DIFERENTE DE LEASING,60,ENTRE 366 Y 1095 DIAS,36.56,1.844131e+06,226

In [5]:
df = data[['FECHA CORTE','NOMBRE ENTIDAD','NOMBRE','TASA EFECTIVA ANUAL']].copy()

In [12]:
df[df['NOMBRE ENTIDAD']=='Banco De Bogota S.A.'].value_counts().sum()

30

In [6]:
df['FECHA CORTE'].max()

'31/12/2021'

In [7]:
df1 = df[df['NOMBRE'] == 'CREDITOS COMERCIALES']

In [8]:
del df1['NOMBRE']
df1

,FECHA CORTE,NOMBRE ENTIDAD,TASA EFECTIVA ANUAL
0,01/02/2019,Cooperativa Financiera De Antioquia,28.34
1,26/09/2014,Bancolombia,11.58
3,03/05/2013,Bbva Colombia,15.23
11,21/07/2017,Banco Popular,9.04
13,15/02/2008,"Financiera Andina S.A., Finandina, Compañía De...",19.98
...,...,...,...
732649,24/06/2022,Banco Colpatria Scotiabank,15.04
732653,24/06/2022,Banco Colpatria Scotiabank,12.96
732660,24/06/2022,Banco De Bogota S.A.,13.00
732665,24/06/2022,Banco Colpatria Scotiabank,11.60
732669,24/06/2022,Banco De Bogota S.A.,10.13

In [9]:
df1.columns

Index(['FECHA CORTE', 'NOMBRE ENTIDAD', 'TASA EFECTIVA ANUAL'], dtype='object')

In [22]:
df2 = df1.groupby(['FECHA CORTE', 'NOMBRE ENTIDAD',]).mean().reset_index()

In [23]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42746 entries, 0 to 42745
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FECHA CORTE          42746 non-null  object
 1   NOMBRE ENTIDAD       42746 non-null  object
 2   TASA EFECTIVA ANUAL  42746 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1002.0+ KB

In [11]:
df2.head(5)

  FECHA CORTE             NOMBRE ENTIDAD  TASA EFECTIVA ANUAL
0  01/01/2010       Arco Grupo Bancoldex            13.090000
1  01/01/2010                  Av Villas            10.391111
2  01/01/2010                 Banagrario            10.723750
3  01/01/2010              Bancamía S.A.            25.920000
4  01/01/2010  Bancien S.A. Y/O "Ban100"            25.188000

In [12]:
df2['FECHA CORTE'].value_counts()

FECHA CORTE
28/05/2004    52
12/11/2004    52
17/09/2004    52
15/08/2003    51
30/08/2002    51
              ..
01/05/2020    32
08/05/2020    31
24/04/2020    31
17/04/2020    30
10/04/2020    27
Name: count, Length: 1052, dtype: int64

In [24]:
df2['FECHA CORTE'] = pd.to_datetime(df2['FECHA CORTE'], dayfirst=True)

In [14]:
df2['Week'] = df2['FECHA CORTE'].dt.isocalendar().week

In [25]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42746 entries, 0 to 42745
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FECHA CORTE          42746 non-null  datetime64[ns]
 1   NOMBRE ENTIDAD       42746 non-null  object
 2   TASA EFECTIVA ANUAL  42746 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 1002.0+ KB

In [26]:
df2 = df2.sort_values(by='FECHA CORTE', ascending=False)

In [27]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42746 entries, 32869 to 3221
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FECHA CORTE          42746 non-null  datetime64[ns]
 1   NOMBRE ENTIDAD       42746 non-null  object
 2   TASA EFECTIVA ANUAL  42746 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 1.3+ MB

In [17]:
df2.describe()

                         FECHA CORTE  TASA EFECTIVA ANUAL       Week
count                          42746         42746.000000    42746.0
mean   2011-11-22 00:07:00.418284800            15.617953  26.677771
min              2002-05-03 00:00:00             0.000000        1.0
25%              2006-09-29 00:00:00            11.445139       14.0
50%              2011-08-19 00:00:00            14.770000       27.0
75%              2016-11-18 00:00:00            18.830000       40.0
max              2022-06-24 00:00:00            32.880000       53.0
std                              NaN             5.534739  14.986093

In [33]:
df2['NOMBRE ENTIDAD'].value_counts()

NOMBRE ENTIDAD
Banco De Occidente                                  1052
Av Villas                                           1052
Bancolombia                                         1052
Banco Caja Social                                   1052
Cooperativa Financiera De Antioquia                 1052
                                                    ...
Bancamia                                               1
Bancamia S.A.                                          1
Banco Colpatria Scotiabank                             1
Banco Itau.                                            1
Banco J.P. Morgan Colombia S.A., (La "Sociedad")       1
Name: count, Length: 91, dtype: int64

In [46]:
df3 = df2[df2['NOMBRE ENTIDAD'] == 'Banco De Occidente']

In [48]:
df3.tail()

      FECHA CORTE      NOMBRE ENTIDAD  TASA EFECTIVA ANUAL
42131  2002-05-31  Banco De Occidente            13.970000
32599  2002-05-24  Banco De Occidente            13.994286
22787  2002-05-17  Banco De Occidente            15.724286
12976  2002-05-10  Banco De Occidente            15.514286
3230   2002-05-03  Banco De Occidente            16.497143