In [2]:
import pandas as pd
# hay instalar el modulo openpyxl para que pueda leer el archivo xlsx

In [3]:
#load xlsx file
ruta = r'D:\0_Respaldo\0_Proyectos_2024\ML proyects\Prediccion tasa de interes\Prediccion_tasa_interes\data\Serie_historica_ipvnbr.xlsx'
data = pd.read_excel(ruta, 
                     sheet_name='Serie_IPVNBR',
                     header=2,
                     skiprows=2,
                     skipfooter=8)

In [4]:
df = data.copy()

In [5]:
df.head(3)

,Unnamed: 0,Bogotá,Alrededores de Bogotá4,Medellín,Cali,Agregado,Unnamed: 6,Bogotá.1,"Alrededores de Bogotá4,5",Medellín.1,Cali.1,Agregado6
0,2004-01-01,70.822347,77.485793,82.745082,78.583333,76.181847,NaN,80.763841,88.362650,93.876603,89.656405,86.777505
1,2004-02-01,71.583509,77.564782,82.108312,79.919206,76.448672,NaN,80.731498,87.477145,91.476975,90.402993,86.009062
2,2004-03-01,71.873342,78.056214,82.037061,81.662989,76.744760,NaN,80.232447,87.134408,90.903185,91.353097,85.548238

In [6]:
df.columns

Index(['Unnamed: 0', 'Bogotá', 'Alrededores de Bogotá4', 'Medellín', 'Cali',
       'Agregado', 'Unnamed: 6', 'Bogotá.1', 'Alrededores de Bogotá4,5',
       'Medellín.1', 'Cali.1', 'Agregado6'],
      dtype='object')

### Data Validation

In [7]:
# Reviso que la fecha este correcta en el perido de tiempo de 2006 a la actualidad.
df['Unnamed: 0'].describe()

count                              244
mean     2014-02-14 20:03:56.065573888
min                2004-01-01 00:00:00
25%                2009-01-24 06:00:00
50%                2014-02-15 00:00:00
75%                2019-03-08 18:00:00
max                2024-04-01 00:00:00
Name: Unnamed: 0, dtype: object

Se puede observar que hay fechas menores al 2006 por tal motivo ajustare la fecha.

In [8]:
df = df[df['Unnamed: 0'] >= '2006-01-01']

In [9]:
df1 = df[['Unnamed: 0','Bogotá.1','Alrededores de Bogotá4,5','Medellín.1','Cali.1']]

In [10]:
df1.head(5)

   Unnamed: 0   Bogotá.1  Alrededores de Bogotá4,5  Medellín.1     Cali.1
24 2006-01-01  88.135533                 95.140592   85.920155  96.067890
25 2006-02-01  88.577887                 93.794810   86.404737  97.093648
26 2006-03-01  89.420177                 92.379163   86.955471  96.884520
27 2006-04-01  89.383739                 93.058303   87.901375  96.514610
28 2006-05-01  91.028766                 92.995893   89.482590  96.764640

In [11]:
df1 = df1.rename(columns={'Unnamed: 0':'Fecha',
                    'Bogotá.1':'Bogotá',
                    'Alrededores de Bogotá4,5':'Alrededores de Bogotá',
                    'Medellín.1':'Medellín',
                    'Cali.1':'Cali'
                    })

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 220 entries, 24 to 243
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Fecha                  220 non-null    datetime64[ns]
 1   Bogotá                 220 non-null    float64
 2   Alrededores de Bogotá  220 non-null    float64
 3   Medellín               220 non-null    float64
 4   Cali                   220 non-null    float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 10.3 KB

In [13]:
#Valores duplicados
df1.duplicated().sum()

0

In [14]:
df1.to_parquet(r'D:\0_Respaldo\0_Proyectos_2024\ML proyects\Prediccion tasa de interes\Prediccion_tasa_interes\data\Transform\validate_data.parquet')