In [3]:
import pandas as pd

In [5]:
data = pd.read_parquet(r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\Prediccion tasa de interes\Prediccion_tasa_interes\data\Transform\validate_data.parquet')

In [6]:
df = data.copy()

In [7]:
df.head(5)

           Fecha     Bogotá  Alrededores de Bogotá   Medellín       Cali
index
24    2006-01-01  88.135533              95.140592  85.920155  96.067890
25    2006-02-01  88.577887              93.794810  86.404737  97.093648
26    2006-03-01  89.420177              92.379163  86.955471  96.884520
27    2006-04-01  89.383739              93.058303  87.901375  96.514610
28    2006-05-01  91.028766              92.995893  89.482590  96.764640

### Bucle

In [1]:
c_list = ['Bogotá', 'Alrededores de Bogotá', 'Medellín', 'Cali']

In [9]:
#Bucle
for i in c_list:
    df_place = df[['Fecha', i]]
    path = r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\Prediccion tasa de interes\Prediccion_tasa_interes\data\Transform\ts_'
    df_place.to_parquet(f'{path}{i}.parquet')

In [6]:
###### Month Range creation example.

# for month in range(1, 13):
#     month_name = pd.Timestamp(f'2023-{month:02d}-01').strftime('%B').lower()  # Nombre del mes en minúscula
#     df1[f'mes {month_name}'] = df['Fecha'].apply(lambda x: 1 if x.month == month else 0)
    
    
# # Crear semanas
# for week in range(1, 53):
#     df1[f'semana {week}'] = df['Fecha'].apply(lambda x: 1 if x.isocalendar().week == week else 0)
    
# # Crear  Trimestres

# for quarter in range(1, 5):
#     df[f'trimestre {quarter}'] = df['Fecha'].apply(lambda x: 1 if x.quarter == quarter else 0)