In [1]:
import pandas as pd

In [2]:
data = pd.read_parquet(r'D:\0_Respaldo\0_Proyectos_2024\ML proyects\Prediccion tasa de interes\Prediccion_tasa_interes\data\Transform\validate_data.parquet')

In [3]:
df = data.copy()

In [4]:
df.head(5)

           Fecha     Bogotá  Alrededores de Bogotá   Medellín       Cali
index
24    2006-01-01  88.135533              95.140592  85.920155  96.067890
25    2006-02-01  88.577887              93.794810  86.404737  97.093648
26    2006-03-01  89.420177              92.379163  86.955471  96.884520
27    2006-04-01  89.383739              93.058303  87.901375  96.514610
28    2006-05-01  91.028766              92.995893  89.482590  96.764640

In [12]:
df_bogota = df[['Fecha','Bogotá']]
df_a_bogota = df[['Fecha','Alrededores de Bogotá']]
df_madellin = df[['Fecha','Medellín']]
df_cali = df[['Fecha','Cali']]

In [8]:
df_bogota.info()

<class 'pandas.core.frame.DataFrame'>
Index: 220 entries, 24 to 243
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   220 non-null    datetime64[ns]
 1   Bogotá  220 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.2 KB

In [14]:
df_bogota.head(3)

           Fecha     Bogotá
index
24    2006-01-01  88.135533
25    2006-02-01  88.577887
26    2006-03-01  89.420177

In [15]:
ruta = r'D:\0_Respaldo\0_Proyectos_2024\ML proyects\Prediccion tasa de interes\Prediccion_tasa_interes\data\Transform\bogota_ts_data.parquet'
df_bogota.to_parquet(ruta)

In [6]:
for month in range(1, 13):
    month_name = pd.Timestamp(f'2023-{month:02d}-01').strftime('%B').lower()  # Nombre del mes en minúscula
    df1[f'mes {month_name}'] = df['Fecha'].apply(lambda x: 1 if x.month == month else 0)
    
    
# Crear semanas
for week in range(1, 53):
    df1[f'semana {week}'] = df['Fecha'].apply(lambda x: 1 if x.isocalendar().week == week else 0)
    
# Crear  Trimestres

for quarter in range(1, 5):
    df[f'trimestre {quarter}'] = df['Fecha'].apply(lambda x: 1 if x.quarter == quarter else 0)

In [7]:
df1.head(5)

,Fecha,Bogotá,Alrededores de Bogotá,Medellín,Cali,mes january,mes february,mes march,mes april,mes may,...,semana 43,semana 44,semana 45,semana 46,semana 47,semana 48,semana 49,semana 50,semana 51,semana 52
index,,,,,,,,,,,,,,,,,,,,,
24,2006-01-01,88.135533,95.140592,85.920155,96.067890,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
25,2006-02-01,88.577887,93.794810,86.404737,97.093648,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,2006-03-01,89.420177,92.379163,86.955471,96.884520,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
27,2006-04-01,89.383739,93.058303,87.901375,96.514610,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
28,2006-05-01,91.028766,92.995893,89.482590,96.764640,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [23]:
df2 = df1.copy()

In [24]:
df2['incremento_interes_Cali'] = (df1['Cali'].diff() > 0).astype(int)
df2['incremento_interes_bogota'] = (df1['Bogotá'].diff() > 0).astype(int)
df2['incremento_interes_alrededores_bogota'] = (df1['Alrededores de Bogotá'].diff() > 0).astype(int)
df2['incremento_interes_medellin'] = (df1['Medellín'].diff() > 0).astype(int)

In [34]:
df2.head(5)

,Fecha,Bogotá,Alrededores de Bogotá,Medellín,Cali,mes january,mes february,mes march,mes april,mes may,...,semana 47,semana 48,semana 49,semana 50,semana 51,semana 52,incremento_interes_Cali,incremento_interes_bogota,incremento_interes_alrededores_bogota,incremento_interes_medellin
index,,,,,,,,,,,,,,,,,,,,,
24,2006-01-01,88.135533,95.140592,85.920155,96.067890,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
25,2006-02-01,88.577887,93.794810,86.404737,97.093648,0,1,0,0,0,...,0,0,0,0,0,0,1,1,0,1
26,2006-03-01,89.420177,92.379163,86.955471,96.884520,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
27,2006-04-01,89.383739,93.058303,87.901375,96.514610,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,1
28,2006-05-01,91.028766,92.995893,89.482590,96.764640,0,0,0,0,1,...,0,0,0,0,0,0,1,1,0,1

In [35]:
df_bogota = df2.copy()

### Bogota

In [36]:
df_bogota.columns

Index(['Fecha', 'Bogotá', 'Alrededores de Bogotá', 'Medellín', 'Cali',
       'mes january', 'mes february', 'mes march', 'mes april', 'mes may',
       'mes june', 'mes july', 'mes august', 'mes september', 'mes october',
       'mes november', 'mes december', 'semana 1', 'semana 2', 'semana 3',
       'semana 4', 'semana 5', 'semana 6', 'semana 7', 'semana 8', 'semana 9',
       'semana 10', 'semana 11', 'semana 12', 'semana 13', 'semana 14',
       'semana 15', 'semana 16', 'semana 17', 'semana 18', 'semana 19',
       'semana 20', 'semana 21', 'semana 22', 'semana 23', 'semana 24',
       'semana 25', 'semana 26', 'semana 27', 'semana 28', 'semana 29',
       'semana 30', 'semana 31', 'semana 32', 'semana 33', 'semana 34',
       'semana 35', 'semana 36', 'semana 37', 'semana 38', 'semana 39',
       'semana 40', 'semana 41', 'semana 42', 'semana 43', 'semana 44',
       'semana 45', 'semana 46', 'semana 47', 'semana 48', 'semana 49',
       'semana 50', 'semana 51', 'semana 52', 'incremento_interes_Cali',
       'incremento_interes_bogota', 'incremento_interes_alrededores_bogota',
       'incremento_interes_medellin'],
      dtype='object')

In [37]:
del df_bogota['Alrededores de Bogotá']
del df_bogota['Cali']
del df_bogota['Medellín']

In [38]:
df_bogota.head(5)

,Fecha,Bogotá,mes january,mes february,mes march,mes april,mes may,mes june,mes july,mes august,...,semana 47,semana 48,semana 49,semana 50,semana 51,semana 52,incremento_interes_Cali,incremento_interes_bogota,incremento_interes_alrededores_bogota,incremento_interes_medellin
index,,,,,,,,,,,,,,,,,,,,,
24,2006-01-01,88.135533,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
25,2006-02-01,88.577887,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,1
26,2006-03-01,89.420177,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
27,2006-04-01,89.383739,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
28,2006-05-01,91.028766,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,1,0,1

In [40]:
ruta = r'D:\0_Respaldo\0_Proyectos_2024\ML proyects\Prediccion tasa de interes\Prediccion_tasa_interes\data\Transform\trans_bogota.parquet'
df_bogota.to_parquet(ruta, index=False)

### Alrededores bogota

In [43]:
df_a_bogota = df2.copy()

In [44]:
del df_a_bogota['Bogotá']
del df_a_bogota['Cali']
del df_a_bogota['Medellín']

In [45]:
df_a_bogota.head(3)

,Fecha,Alrededores de Bogotá,mes january,mes february,mes march,mes april,mes may,mes june,mes july,mes august,...,semana 47,semana 48,semana 49,semana 50,semana 51,semana 52,incremento_interes_Cali,incremento_interes_bogota,incremento_interes_alrededores_bogota,incremento_interes_medellin
index,,,,,,,,,,,,,,,,,,,,,
24,2006-01-01,95.140592,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
25,2006-02-01,93.794810,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,1
26,2006-03-01,92.379163,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1

### Cali