In [1]:
import pandas as pd

In [2]:
from tqdm import tqdm  #### Loading work bar

### Bogota

In [3]:
ruta = r'D:\0_Respaldo\0_Proyectos_2024\ML proyects\Prediccion tasa de interes\Prediccion_tasa_interes\data\Transform\bogota_ts_data.parquet'

In [4]:
data = pd.read_parquet(ruta)

In [5]:
df = data.copy()

In [6]:
df.head(5)

           Fecha     Bogotá
index
24    2006-01-01  88.135533
25    2006-02-01  88.577887
26    2006-03-01  89.420177
27    2006-04-01  89.383739
28    2006-05-01  91.028766

In [7]:
#Nuevo indice
df.reset_index(drop=True)

         Fecha      Bogotá
0   2006-01-01   88.135533
1   2006-02-01   88.577887
2   2006-03-01   89.420177
3   2006-04-01   89.383739
4   2006-05-01   91.028766
..         ...         ...
215 2023-12-01  204.260683
216 2024-01-01  203.138297
217 2024-02-01  201.965733
218 2024-03-01  201.380469
219 2024-04-01  201.422912

[220 rows x 2 columns]

In [8]:
def get_cutoff_indices(
    data: pd.DataFrame,
    n_features: int,
    step_size: int
    ) -> list:

        stop_position = len(data) - 1
        
        # Start the first sub-sequence at index position 0
        subseq_first_idx = 0
        subseq_mid_idx = n_features
        subseq_last_idx = n_features + 1
        indices = []
        
        while subseq_last_idx <= stop_position:
            indices.append((subseq_first_idx, subseq_mid_idx, subseq_last_idx))
            
            subseq_first_idx += step_size
            subseq_mid_idx += step_size
            subseq_last_idx += step_size

        return indices

In [9]:
n_features = 12
step_size = 1

indices = get_cutoff_indices(
    df,
    n_features,
    step_size
)
indices

[(0, 12, 13),
 (1, 13, 14),
 (2, 14, 15),
 (3, 15, 16),
 (4, 16, 17),
 (5, 17, 18),
 (6, 18, 19),
 (7, 19, 20),
 (8, 20, 21),
 (9, 21, 22),
 (10, 22, 23),
 (11, 23, 24),
 (12, 24, 25),
 (13, 25, 26),
 (14, 26, 27),
 (15, 27, 28),
 (16, 28, 29),
 (17, 29, 30),
 (18, 30, 31),
 (19, 31, 32),
 (20, 32, 33),
 (21, 33, 34),
 (22, 34, 35),
 (23, 35, 36),
 (24, 36, 37),
 (25, 37, 38),
 (26, 38, 39),
 (27, 39, 40),
 (28, 40, 41),
 (29, 41, 42),
 (30, 42, 43),
 (31, 43, 44),
 (32, 44, 45),
 (33, 45, 46),
 (34, 46, 47),
 (35, 47, 48),
 (36, 48, 49),
 (37, 49, 50),
 (38, 50, 51),
 (39, 51, 52),
 (40, 52, 53),
 (41, 53, 54),
 (42, 54, 55),
 (43, 55, 56),
 (44, 56, 57),
 (45, 57, 58),
 (46, 58, 59),
 (47, 59, 60),
 (48, 60, 61),
 (49, 61, 62),
 (50, 62, 63),
 (51, 63, 64),
 (52, 64, 65),
 (53, 65, 66),
 (54, 66, 67),
 (55, 67, 68),
 (56, 68, 69),
 (57, 69, 70),
 (58, 70, 71),
 (59, 71, 72),
 (60, 72, 73),
 (61, 73, 74),
 (62, 74, 75),
 (63, 75, 76),
 (64, 76, 77),
 (65, 77, 78),
 (66, 78, 79),
 (67, 79, 80),
 (68, 80, 81),
 (69, 81, 82),
 (70, 82, 83),
 (71, 83, 84),
 (72, 84, 85),
 (73, 85, 86),
 (74, 86, 87),
 (75, 87, 88),
 (76, 88, 89),
 (77, 89, 90),
 (78, 90, 91),
 (79, 91, 92),
 (80, 92, 93),
 (81, 93, 94),
 (82, 94, 95),
 (83, 95, 96),
 (84, 96, 97),
 (85, 97, 98),
 (86, 98, 99),
 (87, 99, 100),
 (88, 100, 101),
 (89, 101, 102),
 (90, 102, 103),
 (91, 103, 104),
 (92, 104, 105),
 (93, 105, 106),
 (94, 106, 107),
 (95, 107, 108),
 (96, 108, 109),
 (97, 109, 110),
 (98, 110, 111),
 (99, 111, 112),
 (100, 112, 113),
 (101, 113, 114),
 (102, 114, 115),
 (103, 115, 116),
 (104, 116, 117),
 (105, 117, 118),
 (106, 118, 119),
 (107, 119, 120),
 (108, 120, 121),
 (109, 121, 122),
 (110, 122, 123),
 (111, 123, 124),
 (112, 124, 125),
 (113, 125, 126),
 (114, 126, 127),
 (115, 127, 128),
 (116, 128, 129),
 (117, 129, 130),
 (118, 130, 131),
 (119, 131, 132),
 (120, 132, 133),
 (121, 133, 134),
 (122, 134, 135),
 (123, 135, 136),
 (124, 136, 137),
 (125, 137, 138),
 (126, 138, 139),
 (127, 139, 140),
 (128, 140, 141),
 (129, 141, 142),
 (130, 142, 143),
 (131, 143, 144),
 (132, 144, 145),
 (133, 145, 146),
 (134, 146, 147),
 (135, 147, 148),
 (136, 148, 149),
 (137, 149, 150),
 (138, 150, 151),
 (139, 151, 152),
 (140, 152, 153),
 (141, 153, 154),
 (142, 154, 155),
 (143, 155, 156),
 (144, 156, 157),
 (145, 157, 158),
 (146, 158, 159),
 (147, 159, 160),
 (148, 160, 161),
 (149, 161, 162),
 (150, 162, 163),
 (151, 163, 164),
 (152, 164, 165),
 (153, 165, 166),
 (154, 166, 167),
 (155, 167, 168),
 (156, 168, 169),
 (157, 169, 170),
 (158, 170, 171),
 (159, 171, 172),
 (160, 172, 173),
 (161, 173, 174),
 (162, 174, 175),
 (163, 175, 176),
 (164, 176, 177),
 (165, 177, 178),
 (166, 178, 179),
 (167, 179, 180),
 (168, 180, 181),
 (169, 181, 182),
 (170, 182, 183),
 (171, 183, 184),
 (172, 184, 185),
 (173, 185, 186),
 (174, 186, 187),
 (175, 187, 188),
 (176, 188, 189),
 (177, 189, 190),
 (178, 190, 191),
 (179, 191, 192),
 (180, 192, 193),
 (181, 193, 194),
 (182, 194, 195),
 (183, 195, 196),
 (184, 196, 197),
 (185, 197, 198),
 (186, 198, 199),
 (187, 199, 200),
 (188, 200, 201),
 (189, 201, 202),
 (190, 202, 203),
 (191, 203, 204),
 (192, 204, 205),
 (193, 205, 206),
 (194, 206, 207),
 (195, 207, 208),
 (196, 208, 209),
 (197, 209, 210),
 (198, 210, 211),
 (199, 211, 212),
 (200, 212, 213),
 (201, 213, 214),
 (202, 214, 215),
 (203, 215, 216),
 (204, 216, 217),
 (205, 217, 218),
 (206, 218, 219)]

In [10]:
import numpy as np

n_examples = len(indices)
x = np.ndarray(shape=(n_examples, n_features), dtype=np.float32)
y = np.ndarray(shape=(n_examples), dtype=np.float32)
months = []

for i, idx in enumerate(indices):
    x[i, :] = df.iloc[idx[0]:idx[1]]['Bogotá'].values
    y[i] = df.iloc[idx[1]:idx[2]]['Bogotá'].values
    months.append(df.iloc[idx[1]]['Fecha'])

C:\Users\USUARIO\AppData\Local\Temp\ipykernel_19128\67698119.py:10: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  y[i] = df.iloc[idx[1]:idx[2]]['Bogotá'].values

In [14]:
print(f'{x.shape=}')
print(f'{x=}')
print(f'{y.shape=}')
print(f'{months[:5]}')

x.shape=(207, 12)
x=array([[ 88.13554,  88.57789,  89.42017, ...,  96.86997,  99.40881,
        100.     ],
       [ 88.57789,  89.42017,  89.38374, ...,  99.40881, 100.     ,
        100.97845],
       [ 89.42017,  89.38374,  91.02876, ..., 100.     , 100.97845,
        101.45634],
       ...,
       [209.7814 , 206.4308 , 204.81367, ..., 203.73819, 204.83931,
        204.26068],
       [206.4308 , 204.81367, 203.25522, ..., 204.83931, 204.26068,
        203.13829],
       [204.81367, 203.25522, 203.794  , ..., 204.26068, 203.13829,
        201.96573]], dtype=float32)
y.shape=(207,)
[Timestamp('2007-01-01 00:00:00'), Timestamp('2007-02-01 00:00:00'), Timestamp('2007-03-01 00:00:00'), Timestamp('2007-04-01 00:00:00'), Timestamp('2007-05-01 00:00:00')]

In [12]:
feature_bogota = pd.DataFrame(
    x, columns=[f'month_{i+1}' for i in range(n_features)]
)
feature_bogota

,month_1,month_2,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
0,88.135536,88.577888,89.420174,89.383743,91.028763,92.705177,93.595520,94.650833,94.937325,96.869972,99.408813,100.000000
1,88.577888,89.420174,89.383743,91.028763,92.705177,93.595520,94.650833,94.937325,96.869972,99.408813,100.000000,100.978447
2,89.420174,89.383743,91.028763,92.705177,93.595520,94.650833,94.937325,96.869972,99.408813,100.000000,100.978447,101.456337
3,89.383743,91.028763,92.705177,93.595520,94.650833,94.937325,96.869972,99.408813,100.000000,100.978447,101.456337,101.592758
4,91.028763,92.705177,93.595520,94.650833,94.937325,96.869972,99.408813,100.000000,100.978447,101.456337,101.592758,102.447937
...,...,...,...,...,...,...,...,...,...,...,...,...
202,215.912689,213.797653,209.781403,206.430801,204.813675,203.255219,203.794006,204.909912,205.317856,204.434372,204.148056,203.738190
203,213.797653,209.781403,206.430801,204.813675,203.255219,203.794006,204.909912,205.317856,204.434372,204.148056,203.738190,204.839310
204,209.781403,206.430801,204.813675,203.255219,203.794006,204.909912,205.317856,204.434372,204.148056,203.738190,204.839310,204.260681
205,206.430801,204.813675,203.255219,203.794006,204.909912,205.317856,204.434372,204.148056,203.738190,204.839310,204.260681,203.138290
206,204.813675,203.255219,203.794006,204.909912,205.317856,204.434372,204.148056,203.738190,204.839310,204.260681,203.138290,201.965729

In [15]:
target_bogota = pd.DataFrame(
    y, columns=['Target']
)
target_bogota

         Target
0    100.978447
1    101.456337
2    101.592758
3    102.447937
4    104.124565
..          ...
202  204.839310
203  204.260681
204  203.138290
205  201.965729
206  201.380463

[207 rows x 1 columns]

In [17]:
Bogota_d_ready =pd.concat([feature_bogota,target_bogota], axis=1)

In [18]:
Bogota_d_ready.head(5)

,month_1,month_2,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12,Target
0,88.135536,88.577888,89.420174,89.383743,91.028763,92.705177,93.595520,94.650833,94.937325,96.869972,99.408813,100.000000,100.978447
1,88.577888,89.420174,89.383743,91.028763,92.705177,93.595520,94.650833,94.937325,96.869972,99.408813,100.000000,100.978447,101.456337
2,89.420174,89.383743,91.028763,92.705177,93.595520,94.650833,94.937325,96.869972,99.408813,100.000000,100.978447,101.456337,101.592758
3,89.383743,91.028763,92.705177,93.595520,94.650833,94.937325,96.869972,99.408813,100.000000,100.978447,101.456337,101.592758,102.447937
4,91.028763,92.705177,93.595520,94.650833,94.937325,96.869972,99.408813,100.000000,100.978447,101.456337,101.592758,102.447937,104.124565

In [19]:
ruta = r'D:\0_Respaldo\0_Proyectos_2024\ML proyects\Prediccion tasa de interes\Prediccion_tasa_interes\data\Transform\train\bogota_train.parquet'
Bogota_d_ready.to_parquet(ruta)

### Alrededores Bogota